:root{
    --winScreenWidth: 350px;
    --winScreenHeight: 150px;
}


body{
    position: relative;
}
#winScreen{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: rgb(233, 233, 142);
    border: 1px black solid;
    top:calc(55% - var(--winScreenHeight));
    left: calc(55% - var(--winScreenWidth));
    width: var(--winScreenWidth);
    height: var(--winScreenHeight);
}
#winScreen>div:nth-child(1){
    font-size: 50px;
    text-align: center;
}
#winScreen>div:nth-child(2){
    display: flex;
    justify-content: center;
    gap: 15px;
}

#RestartButton,#EndButton{
    width: 90px;
    height: 40px;
}